.card {
  z-index: 5;
  border: 0.0625rem solid var(--reverse-primary-shadow-color);
  border-radius: var(--primary-border-radius);
  overflow: hidden;
  max-width: 320px;
}

.card__header {
  background-color: var(--primary-shadow-color);
  padding: 0.5rem 1rem;
}

.card__title {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--secondary-shadow-color);
  padding: 1rem;
}

.card__subtitle {
  font-weight: 800;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}

.card__text {
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.card__footer {
  background-color: var(--primary-shadow-color);
  padding: 0.5rem 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .card {
    max-width: 512px;
    
  }

  .card__title {
    font-size: 1.75rem;
  }

  .card__subtitle {
    font-size: 1.5rem;
  }

  .card__text {
    font-size: 1.25rem;
  }
}

.card_trabajo{
  width: 230px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
  padding: 15px; 
  background-color: #fff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;

}

.card_trabajo:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.4) ;
  transform: translateY(-3%);
}

.card_trabajo img{
  width: 210px;
  height: 210px;
  border: 10px #000;
  margin: 0 auto;
}

.card_trabajo h3{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
